$font__heading-family: "Source Serif Pro", serif;
$font__h1: 3rem;
$font__h2: 2rem;

$font__body-family: "Source Sans Pro", sans-serif;
$font__body-size--small: 1.25rem;
$font__body-size--large: 1.5rem;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
