.wp-block-image {
  figcaption,
  .wp-caption {
    color: $color__text-secondary;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    max-width: 100%;
    text-align: center;

    img[class*="wp-image-"] {
      @include center-block;
    }

    .wp-caption-text {
      margin: 0.8075em 0;
    }
  }

  .wp-caption-text {
    text-align: center;
  }
}
