.wp-block-image {
  margin-top: 4rem;
  margin-bottom: 4rem;
  &.has-shadow {
    img {
      box-shadow: 0 4px 12px rgba($color__text-main, 0.24);
    }
  }
}

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  // Loops to enumerate the classes for gallery columns.
  @for $i from 2 through 9 {
    .gallery-columns-#{$i} & {
      max-width: map-get($columns, $i);
    }
  }
}

.gallery-caption {
  display: block;
}
