a {
	color: $color__blue-hex-100;

	&:visited {
		color: $color__blue-hex-100;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__blue-hex-110;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
