h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font__heading-family;
}
h1 {
  font-size: $font__h1;
}
h2 {
  font-size: $font__h2;
  margin-top: 0;
  margin-bottom: 1rem;
  &:not(:first-child) {
    margin-top: 4rem;
  }
  &.entry__title {
    margin-top: 0;
  }
}
.frontpage__title {
  font-size: 4rem;
}
