h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading-family;
}
h2 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 1rem;
}
.frontpage__title {
	font-size: $font__heading-size--small;
}