.site-footer {
  @extend %grid;

  border-top: 1px solid $color__black-hex-10;
  padding-bottom: 4rem;
  padding-top: 3rem;

  @include md {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }
  .footer__tagline,
  .footer__link,
  .footer__navigation {
    display: flex;
    justify-content: center;
    grid-column: 1 / 13;
  }
  .footer__tagline {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 0;
    text-align: center;
  }
  .footer__link {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.single-post {
  .site-footer {
    border-top: none;
  }
}
