.home {
    .site-main {
        border-bottom: 1px solid $color__black-hex-10;

        .entry {
            @extend %grid;

            border-bottom: 1px solid $color__black-hex-10;
            grid-column: 1 / 7;
            padding-bottom: 3rem;
            padding-top: 3rem;

            @include md {
                padding-bottom: 7.5rem;
                padding-top: 7.5rem;      

                grid-column: 1 / 12;
            }
            .entry__thumbnail {
                grid-column: 1 / 7;
                margin-bottom: 2rem;
                @include md {
                    margin-bottom: 0;
                }
            }
            .entry__content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                grid-column: 1 / 7;
                @include md {
                    grid-column: 7 / 12;
                }
            }
            .entry__type {
                color: $color__black-hex-32;
                font-size: 1rem;
                margin-bottom: 0.75rem;
                margin-top: 0;
                text-transform: uppercase;
            }

            .entry__excerpt {
                color: $color__black-hex-32;
                margin-bottom: 1.5rem;
            }
        }
    }
}