.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.single-post {
  .entry__header {
    @extend %grid;

    //border-bottom: 1px solid $color__black-hex-10;
    padding-bottom: 3rem;
    padding-top: 3rem;

    @include md {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }

    .entry__type {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      margin-top: 0;

      grid-row: 2;
    }
    .entry__title {
      margin-bottom: 2rem;
      margin-top: 0;

      grid-row: 3;
    }
    .entry__excerpt {
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-top: 0;

      grid-row: 4;
    }
    .entry__type,
    .entry__title,
    .entry__excerpt {
      text-align: center;

      grid-column: col 1 / -1;
      @include md {
        grid-column: col 3 / span 8;
      }
    }
    .entry__logo {
      margin-top: 0;

      grid-column: col 2 / span 4;
      grid-row: 1;
      @include md {
        grid-column: col 6 / span 2;
      }
    }
  }
  .entry__content-container {
    @extend %grid;

    padding-bottom: 3rem;
    padding-top: 3rem;

    @include md {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
    .entry__content {
      grid-column: 1 / -1;

      @include md {
        grid-column: col 4 / span 6;
      }
    }
  }
  .entry__meta-container {
    @extend %grid-full;

    background-color: $color__black-hex-4;
    padding-bottom: 3rem;
    padding-top: 3rem;

    @include md {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
    .entry__meta {
      display: flex;
      grid-column: 1 / -1;
      flex-direction: column;

      @include md {
        grid-column: col 3 / span 8;
        justify-content: space-between;
        flex-direction: row;
      }
      .entry__meta-item {
        display: flex;
        flex-direction: column;
        &:not(:first-child) {
          margin-top: 1.5rem;
          @include md {
            margin-top: 0;
          }
        }
        .entry__meta-title {
          color: $color__black-rgba-32;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .entry__navigation-container {
    @extend %grid-full;

    background-color: $color__black-hex-4;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .entry__navigation {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      grid-column: 1 / -1;

      @include md {
        grid-column: col 4 / span 6;
      }

      p {
        color: $color__black-rgba-32;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }
}

.entry__type {
  color: $color__black-hex-32;
  text-transform: uppercase;
}

.entry__excerpt {
  font-weight: 300;
}

.page {
  .entry__header {
    @extend %grid;

    padding-bottom: 3rem;
    padding-top: 7rem;

    @include md {
      padding-bottom: 3rem;
      padding-top: 7rem;
    }
    .entry__image {
      margin-bottom: 2rem;
      margin-top: 0;

      grid-column: col 2 / span 4;
      grid-row: 1;

      @include md {
        grid-column: col 6 / span 2;
      }
      img {
        border-radius: 100%;
      }
    }
    .entry__title {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;

      grid-column: col 1 / -1;
      grid-row: 2;
      @include md {
        grid-column: col 3 / span 8;
      }
    }
  }
  .entry__content-container {
    @extend %grid;

    padding-bottom: 3rem;

    @include md {
      padding-bottom: 7rem;
    }
    .entry__content {
      grid-column: 1 / -1;

      @include md {
        grid-column: col 4 / span 6;
      }
    }
  }
}
